/* styling sheet */

/* include custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Serif+SC:wght@200;400;700&family=Noto+Serif+TC:wght@200;400;700&display=swap");
body {
  font-family: "Krub", "Noto Serif SC", "Noto Serif TC", sans-serif, serif;
}
#navbar-dropdown.dropdown-toggle::after {
  /* remove dropdown button for navbar */
  content: none;
}
img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
/* .carousel-caption h1#carousel-caption-job span {
  color: #121283dc;
  color: red;
} */
/* when on mobile */
@media (max-width: 768px) {
  .carousel-caption th-con,
  .carousel-caption en-con {
    font-size: small;
  }
  .carousel-caption zh-con {
    font-size: smaller;
  }
  .carousel-caption p {
    /* color: orangered; */
    color: white;
    font-weight: bold;
  }
  .carousel-caption h1#carousel-caption-job {
    fill: none;
    --bs-bg-opacity: 0; /* remove highlight when on mobile  */
    font-size: medium;
  }
  /* .carousel-caption h1#carousel-caption-job span {
    color: rgb(72, 221, 172);
    /* color: lightcyan; */
  /* color: red; }*/
}
